[tool.poetry]
name = "nectl"
version = "0.19.5"
description = "An end-to-end Python-based Infrastructure as Code framework for network automation and orchestration."
authors = ["Adam Kirchberger <adamkirchberger@users.noreply.github.com>"]
readme = "README.md"
repository = "https://github.com/adamkirchberger/nectl"
documentation = "https://nectl.netlify.app"
keywords = [
    "Network automation",
    "Network orchestration",
    "Network engineering",
    "Automation",
    "Orchestration"
]

[tool.poetry.dependencies]
python = "^3.10"
click = "^8.3.1"
coloredlogs = "^15.0.1"
pydantic = "^1.8 || ^2"
ipaddress = "^1.0.23"
tabulate = "^0.9.0"
dpath = "^2.0.5"
napalm = "^5.0.0"
pytest = "^9.0.0"
pytest-forked = "^1.3.0"

[tool.poetry.group.dev.dependencies]
black = {version = "*", allow-prereleases = true}
pylint = "*"
mypy = "*"
types-setuptools = "*"
types-PyYAML = "*"
types-tabulate = "*"
pytest-cov = "*"
pytest-click = "*"
pytest-env = "*"

[tool.poetry.scripts]
nectl = "nectl.cli:main"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.semantic_release]
version_variables = ["nectl/__init__.py:__version__"]
version_toml = ["pyproject.toml:tool.poetry.version"]
tag_format = "{version}"
commit_message = "Automatically generated by python-semantic-release"
branch = "main"
build_command = "pip install poetry && poetry build --format sdist"
upload_to_pypi = false

[tool.pytest.ini_options]
addopts = "--cov=nectl --cov-report=term-missing -vv --forked"
env = [
    "NECTL_CONFIG="
]

[tool.coverage.run]
patch = ["subprocess", "_exit", "execv"]
